<h1>Notes</h1>
<table border="1">
    <thead>
        <tr>
            <td><b>Titulo</b></td> 
            <td><b>Ação</b></td>
        </tr>
    </thead>
    <tbody>
        <% @AllNotes.each do |note| %>
            <tr>
                <td>
                    <%=note.title%>
                </td>
                <td>
                    <a href="notes/<%=note.id%>">Visualizar</a>
                </td>
            </tr>
        <%end%>
            
    </tbody>
    <a href="notes/new">Criar</a>
</table>